
.memory {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    aspect-ratio: 4 / 1;
}

.memory>* {
    border: 1px solid var(--grad-back-dark);
    transition: all .5s ease;
}

.memory>*:nth-child(2n) {
    background-color: #555;
}

.memory>*:nth-child(2n+1) {
    background-color: #777;
}