:root {
	--grad-back-dark: #150033;
	--grad-back: linear-gradient(80deg, #150033 0%, #660066 100%);
	--grad-front: linear-gradient(185deg, #FBFF37 2%, #FF6006 100%);

	--grad-back-ext: linear-gradient(256deg, #660066 -130%, #150033 90%);
}

* {
	font-family: sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	display: grid;
	background: var(--grad-back);
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}

@media (max-width: 1250px) {
	body {
		grid-template-columns: 30% auto;
	}

	main {
		margin: 10px 10%;
	}
}

@media (max-width: 800px) {}


main {
	grid-area: 1 / 2 / 3 / 3;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;

	padding-bottom: auto;
	height: 100vh;

	color: white;
	height: auto;
	padding-left: 3px;
	margin: 10px 20%;
}

nav {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	position: relative;
	font-size: 16px;
	grid-column: 1 / 2;
	grid-row: span 4;
	margin: 15px;
	color: white;
	padding: 10px;
	height: 90%;
}

nav::after {
	position: absolute;
	top: 0;
	right: -3em;
	content: "";
	background-image: var(--grad-front);
	height: 100%;
	width: 1%;
	z-index: 999;
}

nav>section {
	margin: auto 10px;
}

nav a {
	transition: all 0.3s ease-in-out;
}


nav a:hover {
	background-color: white;
	color: var(--grad-back-dark);
	padding: 3px;
}

nav>section.active-nav-section>a {
	color: var(--grad-back-dark);
}

nav>section.active-nav-section>a,
nav>section>a:hover {
	position: relative;
	background-color: white;
	padding: 5px 3vw 5px 5px;
	margin: 11px 0;
	margin-left: 20px;
}

nav>section.active-nav-section>a:before,
nav>section>a:hover:before {
	position: absolute;
	top: 0px;
	left: -10%;
	content: "";
	background-color: white;
	width: 3px;
	height: 100%;
	margin-right: 10px;
}

ul {
	display: flex;
	flex-flow: column nowrap;
	list-style-type: none;
	position: relative;
}

ul:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 20px;
	width: 3px;
	height: 100%;
	background-color: #aaa;
}

nav ul li {
	margin: 5px 0;
}

nav a {
	text-decoration: none;
	color: white;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	color: #FFFFFF;
	background-color: #222222;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	text-align: right;
}

footer>p {
	margin: 0
}

#command:not(.active) {
	visibility: hidden;
}

#command {
	text-align: left;
	z-index: 1;
	color: white;
	position: fixed;
	bottom: 0px;
	width: 100vw;
	visibility: visible;
	padding: 1px;
	margin: 0;
	left: 0px;
	background-color: transparent;
	font-family: monospace;
}

#command::before {
	content: attr(data-content);
	background-color: #77d5f0;
	padding: 0 3px;
	margin-right: 1em;
	color: black;
}

.string {
	color: #C98342;
}

.type {
	color: #2A50CF;
}

.function {
	color: #E5D062;
}

.number {
	color: #B9CD97;
}

.codeblock {
	font-family: monospace;
	background-color: #333333;
	padding: 3px;
	border: 1px solid gray;
	border-radius: 2px;
}