.demo-grid {
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 1px; 
    background: #111111;
    grid-template: 
        'a b' 1fr;
    align-items: center;
}

.demo-grid * {
    margin: 3px;
}

.demo-grid:nth-child(1) { grid-area: a; }
.demo-grid:nth-child(2) { grid-area: b; }